.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-form {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.input-form {
    min-width: 50vw;
    display: flex;
    justify-content: center;
}

.call-text-wrapper {
    min-width: 50vw;
    display: flex;
    justify-content: center;
    font-size: 18px;
    background-color: #e7eff6;
    margin-left: 16px;
    border-radius: 5px;
    padding: 16px;
}