.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-form {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.input-form {
    min-width: 50vw;
    display: flex;
    justify-content: center;
}