.students-container {
    background-color: #e7eff6;
    flex: 1;
    padding: 16px;
    border: 1px solid #e7eff6;
    border-radius: 7px;
    box-shadow: 3px 3px 5px 5px #888888;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.student-container-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 60vh;
}