.filter-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: auto;
    flex: 1;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.filter-content {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 2px solid #8b9dc3;
    border-radius: 7px;
    width: 250px;
    background-color: #8b9dc3;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 8px;
    margin-right: 8px;
    color: #FAFAFA;
    font-weight: bold;
}

.pressed {
    background-color: #454e61;
    border: 2px solid #454e61;
}
