.preview-wrapper {
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.students-preview {
    width: 50vw;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 42px;
}

.submit-homework {
    display: flex;
    justify-content: center;
    border: 2px solid #011f4b;
    border-radius: 5px;
    padding: 8px;
    max-width: 250px;
    background-color: #005b96;
    color: white;
    cursor: pointer;
    flex: 1;
    font-weight: bold;
    font-size: 18px;
}


.whatsapp-background {
    background: url("https://i.ibb.co/3s1f9Jq/default-wallpaper.png") repeat;
    min-width: 45vw;
    height: auto;
    padding-right: 8px;
    z-index: 0;
    margin-left: 32px;
}