@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.content-container {
    display: flex;
    flex-direction: row;
    padding: 32px;
}

.App {
    font-family: 'Montserrat', sans-serif;
    background-color: #FAFAFA;
}
