.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #2a4d69;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.student-name {
    margin-left: 8px;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    font-size: 24px;
    width: 90px;
    justify-content: space-between;
}

.icon {
    color: #008744;
}

.student-phone {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.check-icon {
    display: flex;
    font-size: 14px;
    margin-left: 8px;
    padding: 4px;
    border: 2px solid #8b9dc3;
    border-radius: 50%;
}

.phone-icon {
    margin-right: 8px;
    font-size: 22px;
}

.sent {
    border: 2px solid #008744;
}