.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #2a4d69;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 16px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.student-name {
    margin-left: 8px;
    font-size: 22px;
}

.icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
    font-size: 24px;
    width: 120px;
    justify-content: space-between;
}

.icon {
    color: #96ceb4;
}

.student-phone {
    font-size: 22px;
}

.sent{
    background-color: #7bc043;
}