.modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-tittle {
    font-size: 32px;
    font-weight: bold;
    margin-left: 8px;
}

.modal-back-button {
    font-size: 32px;
}

.modal-form {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
}

.form-input {
    background-color: #e7eff6;
    padding: 16px;
    border: 1px solid #e7eff6;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}